{%- assign src = url -%}
<div style="--aspect-ratio: 16/9;">
  {%- if lazyload -%}
    <iframe frameborder="0" class="lazyload" allowfullscreen="" data-src="{{ src }}" title="{{ title }}"></iframe>
  {%- else -%}
    <iframe frameborder="0" allowfullscreen="" src="{{ src }}" title="{{ title }}"></iframe>
  {%- endif -%}
</div>
<noscript>
  <a href="{{ src }}">Watch on YouTube: ’{{ title }}’</a>
</noscript>
