{%- if heading -%}
  {%- assign display = 'heading' -%}
{%- else -%}
  {%- assign display = 'title' -%}
{%- endif -%}

<header class="c-intro">
  {% if video -%}
    <figure class="c-intro__media">
      {% include 'video.liquid', url: video, title: title %}
    </figure>
  {%- endif %}

  {% if image -%}
    <figure class="c-intro__media">
      <div style="--aspect-ratio: {%- if image.ratio -%}{{ image.ratio }}{%- else -%}16/9;{%- endif -%}">
        <img src="{{ image.url }}" alt="{{ image.alt }}">
      </div>
    </figure>
  {%- endif %}

  {% if title != '' -%}
    <h1 class="c-intro__{{ display }}">{{ title }}</h1>
  {%- endif %}

  {% if excerpt -%}
    <div class="c-intro__lead">
      {{ excerpt | markdownify }}
    </div>
  {%- endif %}

  {% if  time %}
    <p class="c-intro__time">&ndash;&nbsp;<time datetime="{{ date | datetime_to_iso }}" aria-label="{{ date | date_to_long_string }}">{{ date | date_to_short_string }}</time></p>
  {% endif %}
</header>
