{%- if heading -%}
  {%- assign display = 'heading' -%}
{%- else -%}
  {%- assign display = 'title' -%}
{%- endif -%}

<header class="c-intro">
  {% if title != '' -%}
    <h1 class="c-intro__{{ display }}">{{ title }}</h1>
  {%- endif %}

  {% if excerpt -%}
    <div class="c-intro__lead">
      {{ excerpt | markdownify }}
    </div>
  {%- endif %}

  {% if  time %}
    <p class="c-intro__time">&ndash;&nbsp;<time datetime="{{ date | datetime_to_iso }}" aria-label="{{ date | date_to_long_string }}">{{ date | date_to_short_string }}</time></p>
  {% endif %}
</header>
