<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{% if title != '' %}{{ title | markdownify_inline | strip_html }}{% else %}{{ app.title }}{% endif %}">
  <meta property="og:description" content="{% if excerpt %}{{ excerpt | markdownify | strip_html | strip_newlines }}{% elsif content %}{{ content | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ app.description }}{% endif %}">
  <meta property="og:url" content="{% if link %}{{ link }}{% else %}{{ page.url | prepend: app.url | permalink }}{% endif %}">
  <meta name="twitter:creator" content="{% if creator %}@{{ creator }}{% else %}@hybrid_alex{% endif %}">
  <meta name="twitter:site" content="@hybrid_alex">

  <link rel="preconnect" href="https://www.youtube.com">
  <link rel="preconnect" href="https://i.ytimg.com">
  <link rel="preconnect" href="https://i9.ytimg.com">
  <link rel="preconnect" href="https://s.ytimg.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="/assets/fonts/roboto-v16-latin-regular.woff2" type="font/woff2" as="font" crossorigin/>
  <link rel="preload" href="/assets/fonts/roboto-v16-latin-900.woff2" type="font/woff2" as="font" crossorigin/>
  <link rel="stylesheet" href="/assets/styles/app.css">

  <script src="/assets/scripts/app.js" async></script>

  <title>{% if title != '' %}{{ title | markdownify_inline | strip_html }} – {% endif %}{{ app.title }}</title>
</head>
<body>
  {%- include 'components/header.liquid' -%}
  <main>
    {% block main -%}
    {%- endblock %}
  </main>
  {%- include 'components/footer.liquid' -%}
</body>
</html>
