<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta property="og:title" content="{% if title != '' %}{{ title | markdownify_inline | strip_html }}{% else %}{{ app.title }}{% endif %}">
  <meta property="og:description" content="{% if excerpt %}{{ excerpt | markdownify | strip_html | strip_newlines }}{% elsif content %}{{ content | strip_html | strip_newlines | truncate: 200 }}{% else %}{{ app.description }}{% endif %}">
  <meta property="og:url" content="{% if link %}{{ link }}{% else %}{{ page.url | prepend: app.url | permalink }}{% endif %}">
  <meta property="og:type" content="{% if type == 'post' %}article{% elsif type == 'bookmark' %}article{% elsif type == 'screencast' %}video{% else %}website{% endif %}">
  <meta property="og:image" content="{{ app.url }}/og-image.png">

  <meta name="twitter:creator" content="{% if creator %}@{{ creator }}{% else %}@hybrid_alex{% endif %}">
  <meta name="twitter:site" content="@hybrid_alex">
  <meta name="twitter:image" property="og:image" content="{{ app.url }}/og-image.png" />

  <link rel="icon apple-touch-icon" href="/apple-touch-icon.png" sizes="180x180" type="image/png" />
  <link rel="icon" href="/favicon-96x96.png" sizes="96x96" type="image/png" />
  <link rel="icon" href="/favicon-32x32.png" sizes="32x32" type="image/png" />
  <link rel="icon" href="/favicon-16x16.png" sizes="16x16" type="image/png" />

  <link rel="preconnect" href="https://www.youtube.com">
  <link rel="preconnect" href="https://i.ytimg.com">
  <link rel="preconnect" href="https://i9.ytimg.com">
  <link rel="preconnect" href="https://s.ytimg.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="preload" href="/assets/fonts/roboto-v16-latin-regular.woff2" type="font/woff2" as="font" crossorigin/>
  <link rel="preload" href="/assets/fonts/roboto-v16-latin-900.woff2" type="font/woff2" as="font" crossorigin/>
  <link rel="stylesheet" href="/assets/styles/app.css">

  <script src="/assets/scripts/app.js" async></script>

  <title>{% if title != '' %}{{ title | markdownify_inline | strip_html }} – {% endif %}{{ app.title }}</title>
</head>
<body>
  {{ type }}
  {%- include 'components/header.liquid' -%}
  <main>
    {% block main -%}
    {%- endblock %}
  </main>
  {%- include 'components/footer.liquid' -%}
</body>
</html>
