<article class="c-entry c-entry--article">
  <header class="c-entry__header">
    <h3 class="c-entry__title">
      <a rel="bookmark" href="{{ item.url | permalink }}">{{ item.data.title | markdownify_inline }}</a>
    </h3>
  </header>

{% if item.data.excerpt -%}
  <div class="c-entry__body">
    <p>{{ item.data.excerpt | markdownify_inline }}</p>
  </div>
{%- endif %}

  <footer class="c-entry__footer">
    <time datetime="{{ item.date | datetime_to_iso }}" aria-label="{{ item.date | date_to_long_string }}">{{ item.date | date_to_short_string }}</time>
  </footer>
</article>
