<article class="c-entry c-entry--post">
  {% if item.data.title != '' -%}
    <header class="c-entry__header">
      <h3 class="c-entry__title">
        <a rel="bookmark" href="{{ item.url | permalink }}">{{ item.data.title | markdownify_inline }}</a>
      </h3>
    </header>
  {%- endif %}

  <div class="c-entry__body">
    {%- if item.data.excerpt -%}
      {{ item.data.excerpt }}
    {%- else -%}
      {{ item.templateContent }}
    {%- endif -%}
  </div>

  <footer class="c-entry__footer">
    <a rel="bookmark" href="{{ item.url | permalink }}">
      <time datetime="{{ item.date | datetime_to_iso }}" aria-label="{{ item.date | date_to_long_string }}">{{ item.date | date_to_short_string }}</time>
    </a>
  </footer>
</article>
